/* Đây là mục section about us */
.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 200px;
    color: white;
    margin-top: 200px;
}

.main img{
    width: 600px;
    height: 600px;
}

.main .main-right{
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main .main-right .button-top{
    width: 150px;
    height: 30px;
    border: transparent;
    background-color:  rgb(22, 22, 143);
    color: white;
    font-size: 20px;
}

.main .main-right h1{
    font-size: 40px;
}

.main .main-right b{
    color: rgb(22, 22, 143);
}

.main .main-right .information{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.main .main-right .information .information-specifically{
    width: 150px;
    height: 100px;
    background-color: rgb(22, 22, 143);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}

.main .main-right .button{
    width: 200px;
    height: 50px;
    background-color: aqua;
    color: white;
    font-size: 17px;
    border-radius: 50px;
}

.main .main-right .button:hover{
    opacity: 70%;
}

/* Đây là mục section recent project */
.section-recent{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    color: white;
    gap: 20px;
    margin-bottom: 100px;
}

.section-recent .my-work{
    width: 150px;
    height: 30px;
    border: transparent;
    background-color:  rgb(22, 22, 143);
    color: white;
    font-size: 20px;
}

.section-recent h1{
    font-size: 40px;
}

.section-recent .design{
    width: 1900px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: -55px;
}

.section-recent .design .design-information{
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-recent .design .design-information .design-information-top{
    width: 350px;
    height: 300px;
    background-color: rgb(177, 169, 169);
    border-radius: 5%;
}

.section-recent .design .design-information .design-information-button{
    width: 350px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    align-items: center;
}

.section-recent .design .design-information .design-information-button .left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section-recent .design .design-information .design-information-button .left h4{
    font-size: 20px;
}

.section-recent .design .design-information .design-information-button .left p{
    color: rgb(170, 163, 163);
}

.section-recent .design .design-information .design-information-button .right{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: aqua;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.section-recent .design .design-information .design-information-button .right:hover{
    opacity: 70%;
}

.section-recent ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
    margin-left: 800px;
    margin-top: 50px;
}

.section-recent li{
    width: 10px;
    height: 10px;
    border: 1px solid white;
    border-radius: 50px;
}

.section-recent li:hover{
    width: 20px;
    background-color: aqua;
}

/* Đây là mục section services */
.section-services{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
    margin-left: 100px;
    margin-bottom: 100px;
}

.section-services .services-top{
    width: 100px;
    height: 30px;
    border: transparent;
    background-color:  rgb(22, 22, 143);
    color: white;
    font-size: 20px;
}

.section-services h2{
    font-size: 40px;
    margin-bottom: 50px;
}

.section-services b{
    color: rgb(22, 22, 143);
}

.section-services .design{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.section-services .design .information-design{
    background-size: cover;
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    color: white;
    justify-content: center;
    align-items: center;
}

.section-services .design .information-design:hover{
    opacity: 85%;
}

.section-services .design .information-design-top{
    width: 50px;
    height: 50px;
    background-color: rgb(1, 1, 255);
    border-radius: 5px;
    color: white;
    border: transparent;
}

.section-services .design ul{
    border-top: 1px solid rgb(131, 121, 121);
    display: flex;
    flex-direction: row;
    list-style: none;
}

.section-services .design li{
    color: gold;
    margin: 3px;
}

.section-services .design .information-design-all{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 200px;
}

.section-services .design .design-1{
    background-image: url(https://bizweb.dktcdn.net/100/438/408/files/hinh-nen-mau-den-chat-yody-vn-5.jpg?v=1676599956110);
    background-size: cover;
}

.section-services .design .design-2{
    background-image: url(https://i.pinimg.com/1200x/01/b0/2a/01b02ae21a4858bcca003d1d0730c137.jpg);
    background-size: cover;
}

.section-services .design .design-3{
    background-image: url(https://phongvu.vn/cong-nghe/wp-content/uploads/sites/2/2018/09/dubai-hinh-nen-dong-img-1.jpg);
    background-size: cover;
}

.section-services .design .design-4{
    background-image: url(https://static.wixstatic.com/media/9d8ed5_fc2fe070919c4cab9dfa3a8f7a714134~mv2.jpg/v1/fill/w_640,h_490,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/9d8ed5_fc2fe070919c4cab9dfa3a8f7a714134~mv2.jpg);
    background-size: cover;
}